@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100&display=swap');

body {
    margin: 0%;
}
header {
    background-color: #087989;
    color: white;
    text-align: center;
    height: 250px;
    padding: 2%;
}

h3 {
    color: #087989;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

footer {
    margin-bottom: 0%;
    background-color: #001D24;
    color: white;
    text-align: center;
    height: 150px;
}

@media screen and (min-width: 480px) {
header {
    background-color: black;
 }    
}

@media screen and (min-width: 768px) {
header {
    background-color: burlywood;
}    
}

@media screen and (min-width: 1024px) {
header {
    background-color: darkorange;
 }    
}